*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #000;
    color: #fff;
}


header{
    display: flex;
    justify-content: space-between;
    font-size: 8px;
    margin: 3px;
    align-items: center;
}

span{
    color: rgb(48, 138, 255);
}

.perfil{
    display: flex;
    justify-content: space-around;
}

#contenedor_estadistica{
    display: flex;
    align-items: stretch;
}

.estadisticas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.estadisticas p{
    height: 0px;
}

.numero{
    font-weight: bold;
    font-size: 15px;
}

.letra{
    font-size: 12px;
    margin: 15px 7px;
}

.perfil img{
    width: 70px;
    padding: 3px;
    border-radius: 50px;
    border: 2px solid rgb(53, 53, 53);
    margin-left: 5px;
}

.descripcion{
    font-size: 11px;
    margin: 0px 0px 3px 15px;
}

.descripcion h1{
    margin: 15px 0px 5px;
    font-size: 11px;
}

.descripcion h2{
    font-weight: normal;
    font-size: 11px;
    color: rgb(173, 232, 255);
    margin-bottom: 5px;
}

button{
    padding: 5px;
    border: none;
    background-color: rgb(46, 139, 216);
    color: #fff;
    border-radius: 5px;
    width: 100%;
    margin: 5px 6px;
}
.botones{
    display: flex;
    justify-content: center;
    margin: 0px 9px;
}

.msj{
    background-color: #313131;
}

.seleccion{
    margin-top: 15px;
    display: flex;
    justify-content:space-around;
}

.seleccion img {
    padding: 0 45px;
}

.grid{
    border-bottom: 1px solid white ;
}


.fotos{
    height: 162px;
}

.fotos img{
    width: 100px;
    height: 100px;
}