*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #000;
    color: #fff;
}
.headcelu{
    display: flex;
    justify-content: space-between;
    font-size: 8px;
    margin: 3px;
    align-items: center;
}
.headpc{
    display: none;
}
.perfilpc{
    display: none;
}
span{
    color: rgb(48, 138, 255);
}
.perfil{
    display: flex;
    justify-content: space-evenly;
}
#contenedor_estadistica{
    display: flex;
    align-items: stretch;
}
.estadisticas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.estadisticas p{
    height: 0px;
}
.numero{
    font-weight: bold;
    font-size: 15px;
}
.letra{
    font-size: 12px;
    margin: 15px 7px;
}
.perfil img{
    width: 70px;
    padding: 3px;
    border-radius: 50px;
    border: 2px solid rgb(53, 53, 53);
    margin-left: 5px;
}
.descripcion{
    font-size: 11px;
    margin: 0px 0px 3px 15px;
}
.descripcion h1{
    margin: 7px 0 5px;
    font-size: 11px;
}
.descripcion span{
    color: rgb(173, 232, 255);
}
.descripcion h2{
    font-weight: normal;
    font-size: 11px;
    color: rgb(173, 232, 255);
    margin-bottom: 1px;
}
button{
    padding: 5px 5px;
    border: none;
    background-color: rgb(46, 139, 216);
    color: #fff;
    border-radius: 6px;
    width: 100%;
    margin: 5px 6px;
}
.botones{
    display: flex;
    justify-content: center;
    margin: 0px 9px;
}
.unboton{
    width: 9%;
}
.botones button{
    margin: 5px 3px;
}
.msj{
    background: rgb(49, 49, 49);
}
.botonanadir{
    background: rgb(49, 49, 49);
    padding: 3.5px 4px 2px 5px;
}
.anadir{
    width: 13px;
    height: 13px;
}
.seleccion{
    margin-top: 15px;
    display: flex;
    justify-content:space-around;
}
.seleccion img {
    padding: 0 25px;
}
.grid{
    border-bottom: 1px solid white;
}
.fotos img{
    width: 32vw;
    height: 32vw;
}
.qp{
    display: none;
}

/* Estilos para pantallas grandes */
@media(min-width: 768px){
    main{
        padding: 30px 20px 0 20px;
        max-width: 935px;
        margin: 0 auto;
    }

    .headcelu{
        display: none;
    }
    .headpc{
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid #313131;
        padding: 6px;
    }
    .headpc img{
        width: 115px;
        height: 55px;
        cursor: pointer;
    }
    .mitad1{
        width: 50%;
        display: flex;
        align-items: center;
    }
    .mitad2{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .headpc button{
        width: auto;
        padding: 8px 14px;
        font-weight: bold;
        cursor: pointer;
    }
    .login:hover{
        background-color: rgb(58, 166, 255);
    }
    .register{
        background: none;
        color: rgb(46, 139, 216);
    }
    .register:hover{
        color: rgb(137, 202, 255);
    }
    .perfilpc img{
        width: 140px;
        padding: 5px;
        border-radius: 50%;
        border: 3px solid rgb(53, 53, 53);
    }
    .botones{
        display: none;
    }
    .perfil{
        display: none;
    }
    .descripcion{
        display: none;
    }
    .perfilpc{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }
    .fotopc{
        margin: 20px 50px 20px 20px;
    }
    .infopc{

    }

    .nombre_botones{
        display: flex;
        margin: 0 0 20px;
    }
    .nombrepc{
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    .nombrepc h2{
        font-weight: 100;
        font-size: 22px;
    }
    .nombre_botones img{
        border: none;
        width: 20px;
    }
    .botonespc button{
        width: auto;
        padding: 8px 18px;
        font-weight: bold;
        font-size: 15px;
        background: rgb(49, 49, 49);
        cursor: pointer;
    }
    .botonespc button:hover{
    background-color: rgb(77, 77, 77);
    }
    #contenedor_estadisticapc{
        display: flex;
        justify-content: space-between;
        margin: 0 0 20px;
        font-weight: 700;
    }
    .estadisticaspc:hover p,.estadisticaspc:hover span {
        color: rgb(133, 133, 133);
        cursor: pointer;
    }
    .estadisticaspc span{
        color: rgb(255, 255, 255);
    }
    .letra{
        margin: 0;
    }
    .descripcionpc{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100%;
    }
    .descripcionpc span{
        color: rgb(125, 183, 216);
        cursor: pointer;
    }
    .seleccion{
        border-top: 1px solid #313131;
        display: flex;
        justify-content: space-evenly;
    }
    .seleccion1{
        display: flex;
        padding: 20px 0;
        align-items: center;
        cursor: pointer;
    }
    .BARRITA{
        border-top: 1px solid #fff;
    }
    .grid{
        border: none;
    }
    .seleccion img{
        padding: 0 5px 0 0;
    }
    .qp{
        display: block;
    }
    .fotos img{
        width: 300px;
        height: 300px;
        margin: 2px;
    }
    .fotos img:hover{
        opacity: 0.5;
    }
    .fotos{
        display: flex;
        flex-wrap: wrap;
    }

}